<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiyo.basic.mapper.SysDictionaryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aiyo.basic.entity.SysDictionary">
		<id column="id" property="id" />
		<result column="key_s" property="keyS" />
		<result column="key_value" property="keyValue" />
		<result column="key_table" property="keyTable" />
		<result column="key_table_chinese_name" property="keyTableChineseName" />
		<result column="is_table" property="isTable" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="is_delete" property="isDelete" />
		<result column="version" property="version" />
	</resultMap>

</mapper>
